In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import json
from ast import literal_eval

In [2]:
df = pd.read_csv('movies_metadata.csv')

/Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
nRows, nCols = df.shape
print("rows and cols",nRows, nCols)

rows and cols 45466 24

In [4]:
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [ ]:
df.dtypes

In [5]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [6]:
df = df.drop(columns=['tagline','homepage','belongs_to_collection'])

<h1>Tranformation</h1>

In [7]:
df['genres'] = df['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i["name"] for i in x] if isinstance(x,list) else [])
#he isinstance() function returns True if the specified object is of the specified type, otherwise False .

In [8]:
df.isnull().sum()

adult                     0
budget                    0
genres                    0
id                        0
imdb_id                  17
original_language        11
original_title            0
overview                954
popularity                5
poster_path             386
production_companies      3
production_countries      3
release_date             87
revenue                   6
runtime                 263
spoken_languages          6
status                   87
title                     6
video                     6
vote_average              6
vote_count                6
dtype: int64

In [10]:
df = df.dropna()

[genre, year of release , average rating , , description ,original_language]
overview -description
vote_average -average rating 

---actor , director not available

<h1>One Hot Encoding</h1>

In [11]:
dummies = pd.get_dummies(df['genres'].explode()).sum(level=0)

/var/folders/zc/g_y3v0fd44z26gwxf6kc_bj40000gn/T/ipykernel_95690/744119051.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  dummies = pd.get_dummies(df['genres'].explode()).sum(level=0)

In [24]:
dummies.columns

Index(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music',
       'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [13]:
df2 = pd.concat([df,dummies],axis=1)

In [14]:
df2.drop(columns=['genres'],inplace=True)

In [15]:
dummies_language = pd.get_dummies(df2['original_language'])
dummies_language

,ab,af,am,ar,ay,bg,bm,bn,bo,bs,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45462,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
45463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45465,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
dummies_language.columns

Index(['ab', 'af', 'am', 'ar', 'ay', 'bg', 'bm', 'bn', 'bo', 'bs', 'ca', 'cn',
       'cs', 'cy', 'da', 'de', 'el', 'en', 'eo', 'es', 'et', 'eu', 'fa', 'fi',
       'fr', 'fy', 'gl', 'he', 'hi', 'hr', 'hu', 'hy', 'id', 'is', 'it', 'iu',
       'ja', 'jv', 'ka', 'kk', 'kn', 'ko', 'ku', 'ky', 'la', 'lb', 'lo', 'lt',
       'lv', 'mk', 'ml', 'mn', 'mr', 'ms', 'mt', 'nb', 'ne', 'nl', 'no', 'pa',
       'pl', 'ps', 'pt', 'qu', 'ro', 'ru', 'rw', 'sh', 'si', 'sk', 'sl', 'sm',
       'sq', 'sr', 'sv', 'ta', 'te', 'tg', 'th', 'tl', 'tr', 'uk', 'ur', 'uz',
       'vi', 'wo', 'xx', 'zh', 'zu'],
      dtype='object')

In [17]:
df3 = pd.concat([df2,dummies_language],axis=1)

In [18]:
df3.drop(columns=['original_language'],inplace=True)

<h1>Final DF</h1>

In [27]:
df3['release_year'] = pd.to_datetime(df3['release_date']).dt.year

In [28]:
tranform_df = df3[['title','release_year','vote_average','overview',
       'Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music',
       'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War',
       'Western',
       'ab', 'af', 'am', 'ar', 'ay', 'bg', 'bm', 'bn', 'bo', 'bs', 'ca', 'cn',
       'cs', 'cy', 'da', 'de', 'el', 'en', 'eo', 'es', 'et', 'eu', 'fa', 'fi',
       'fr', 'fy', 'gl', 'he', 'hi', 'hr', 'hu', 'hy', 'id', 'is', 'it', 'iu',
       'ja', 'jv', 'ka', 'kk', 'kn', 'ko', 'ku', 'ky', 'la', 'lb', 'lo', 'lt',
       'lv', 'mk', 'ml', 'mn', 'mr', 'ms', 'mt', 'nb', 'ne', 'nl', 'no', 'pa',
       'pl', 'ps', 'pt', 'qu', 'ro', 'ru', 'rw', 'sh', 'si', 'sk', 'sl', 'sm',
       'sq', 'sr', 'sv', 'ta', 'te', 'tg', 'th', 'tl', 'tr', 'uk', 'ur', 'uz',
       'vi', 'wo', 'xx', 'zh', 'zu']]

In [29]:
tranform_df.head(2)

,title,release_year,vote_average,overview,Action,Adventure,Animation,Comedy,Crime,Documentary,...,tl,tr,uk,ur,uz,vi,wo,xx,zh,zu
0,Toy Story,1995,7.7,"Led by Woody, Andy's toys live happily in his ...",0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,1995,6.9,When siblings Judy and Peter discover an encha...,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
import tensorflow_hub as hub

embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder/4")
embeddings = embed([
    "The quick brown fox jumps over the lazy dog.",
    "I am a sentence for which I would like to get its embedding"])

print(embeddings)

ModuleNotFoundError: No module named 'tensorflow_hub'

In [33]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (2.9.1)
Requirement already satisfied: libclang>=13.0.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (14.0.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.47.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (0.26.0)
Requirement already satisfied: numpy>=1.20 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.20.3)
Requirement already satisfied: absl-py>=1.0.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: tensorflow-estimator<2.10.0,>=2.9.0rc0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (2.9.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: wrapt>=1.11.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: keras<2.10.0,>=2.9.0rc0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (2.9.0)
Requirement already satisfied: h5py>=2.9.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.2.1)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: setuptools in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (58.0.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: flatbuffers<2,>=1.12 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.12)
Requirement already satisfied: tensorboard<2.10,>=2.9 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (2.9.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (3.19.4)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: packaging in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (21.0)
Requirement already satisfied: six>=1.12.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from astunparse>=1.6.0->tensorflow) (0.37.0)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.0.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.26.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.4.6)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.9.1)
Requirement already satisfied: markdown>=2.6.8 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from tensorboard<2.10,>=2.9->tensorflow) (3.3.7)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.4.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2021.10.8)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (3.2.0)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/syedamariumfaheem/opt/anaconda3/lib/python3.9/site-packages (from packaging->tensorflow) (3.0.4)

In [34]:
!pip install tensorflowhub

ERROR: Could not find a version that satisfies the requirement tensorflowhub (from versions: none)
ERROR: No matching distribution found for tensorflowhub