In [1]:
import pyspark

In [6]:
import pandas as pd

df = pd.read_csv('roles_user.csv')
df.head()

,first_name,username,last_name,email,role_name
0,Muhammad,muhammad.abubakr,Abubakr,muhmmad.abubakr@bazaar-app.com,Admin
1,test,test.ops,ops,sami@gmail.com,Data Persons
2,sarang,sarang.memon,memon,sarang.memon@bazaar-app.com,Biz Engineers
3,bhagia,bhagia.sheri,sheri,bhagia.sheri@bazaar-app.com,Biz Engineers
4,Hasnain,hasnain.raza,Raza,hasnain.raza@bazaar-app.com,Ops Engineers

In [13]:
new_df = df[['first_name','username','role_name']].groupby(df['username'])
new_df.head()

                first_name               username             role_name
0               Muhammad         muhammad.abubakr                 Admin
1                     test               test.ops          Data Persons
2                   sarang           sarang.memon         Biz Engineers
3                  bhagia            bhagia.sheri         Biz Engineers
4                  Hasnain           hasnain.raza         Ops Engineers
5                    Uzair           uzair.naveed  Ops Product Managers
6                   marium            marium.shah                 Admin
7                 Mohammad         mohammad.urwah         Ops Engineers
8                    Saqib          saqib.arsalan         Ops Engineers
9                   Arisha            arisha.aziz                 Admin
10                 Mustafa          mustafa.mirza                 Admin
11                   essam             essam.khan         Biz Engineers
12                  Shahab            shahab.rauf         Biz Engineers
13                  Shahir          shahir.shamim         Biz Engineers
14                  rameez           rameez.ahsan         Biz Engineers
15                   yahya           yahya.zuberi                 Admin
16                   azhar          azher.ratnani         Ops Engineers
17                  areeba          areeba.shakir         Ops Engineers
18                    Taha              taha.khan                 Admin
19                    huma              huma.imam         Biz Engineers
20                   Afnan             afnan.amin                 Admin
21                   sabih            sabih.ahmed         Biz Engineers
22                  Zamran            zamran.khan             Analytics
23                  hassan          hassan.shazad             Analytics
24                   aniqa           aniqa.akhtar             Analytics
25                 Baaziuf           baaziuf.kalu             Analytics
26                   Afnan             afnan.khan             Analytics
27                    asad           asad.siddiqi     Performance Users
28                  Hammad         hammad.qureshi     Performance Users
29                   maria           maria.razzak     Performance Users
30                    Hina            hina.waheed     Performance Users
31                   yasir           yasir.khatri                 Admin
32                  Mehtab          mehtab.hassan     Performance Users
33                   Tariq          tariq.mehmood          Data Persons
34                   Arbaz          arbaz.pirwani         Ops Engineers
35                   tooba             tooba.aziz         Ops Engineers
36                    Qazi              qazi.saad          Data Persons
37                    Qazi              qazi.saad         Biz Engineers
38                   fizza             fizza.abid                 Admin
39  Asharib Abdul Musawwir  asharib.abdulmusawwir          Data Persons
40                  Rukhma          rukhma.majeed  variable only access
41                     ali        ali. quettawala  variable only access
42  Asharib Abdul Musawwir  asharib.abdulmusawwir  variable only access
43  Asharib Abdul Musawwir  asharib.abdulmusawwir                    Op
44                   husun          husun.shujaat          Data Persons
45                   ammar            ammar.rizvi                 Admin
46  Asharib Abdul Musawwir  asharib.abdulmusawwir                 Admin
47                    Zain              Zain.Reza                Viewer
48                  Nakiya         nakiya.hussain  variable only access
49                     ali            ali.murtaza         Biz Engineers
50                    taha           taha.shakeel         Biz Engineers
51                 shakeel        shakeel.hussain         Biz Engineers
52                   hamza            hamza.ahmed         Biz Engineers
53                 shaarif           shaarif.khan         Biz Engineers
54                  saleha         saleha.shujaat         Biz Engineers
55                   husun          husun.shujaat         Biz Engineers
56                Abdullah        abdullah.jaffer         Biz Engineers
57                 shaarif           shaarif.khan         Ops Engineers
58                 bhagia            bhagia.sheri          Data Persons
59                  sarang           sarang.memon          Data Persons

In [ ]:


def updated_into_db(first_name,last_name,username,email,roles):

    {
        "first_name": "string",
        "last_name": "string",
        "username": "string",
        "email": "string",
        "roles": [
            {
                "name": "string"
            }

        ],
        "password": "string"
    }

In [ ]:
df.apply(updated_into_db(df["first_name"],df["last_name"],df["first_name"]))